.account-page-container {
  padding: 2rem 0rem 10rem 10rem;
}

.account-page {
  padding: 5rem 1rem;
}

.page-sidebar {
  margin: 0;
}

.sidebar-ul-formatting {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-sidebar ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 0;
  color: var(--black);
}

.right-border {
  border-right: 1px solid var(--bg-border);
}

/* page */

.account-page {
  font-family: var(--font-bogle-regular);
}

.account-page .page-modal {
  border-radius: 1.5rem;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.06);
  margin: 1rem 0;
  overflow: hidden;
}

.page-modal .modal-header {
  background: #e6f1fc;
  padding: 0 1.5rem;
}

.page-modal h3 {
  font-size: 1.7rem;
  font-family: var(--font-bogle-bold);
}

h6 {
  font-family: var(--font-bogle-bold);
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--black);
}

.page-modal .left-content img {
  margin-right: 1rem;
}

.page-modal .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-modal .modal-content {
  padding: 1.5rem;
}

.payment-card-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.payment-card {
  border: 1px solid var(--bg-category);
  border-radius: 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
  height: 14rem;
  max-width: 22rem;
  width: 100%;
  padding: 2.4rem 2.1rem;
}

.payment-card img {
  /* having issues centralizing the images so it affects the image on the second card */
  justify-content: center;
  margin: 0 auto;
}

.payment-card .card-desc {
  font-family: var(--font-bogle-bold);
  font-size: 1.5rem;
}

.address-btn {
  border-radius: 2rem;
  padding: 8px 24px 8px 24px;
  background: transparent;
  border: 1px solid var(--bg-border);
  font-family: var(--font-bogle-bold);
  font-size: 1.4rem;
}

.cta-footer {
  background-color: #e6f1fc;
  padding: 2rem 0;
}

/* personal info page */
.personal-info-wrapper .page {
  padding: 2rem;
}

.personal-info-wrapper h3 {
  font-family: var(--font-bogle-bold);
}

.personal-info-wrapper label {
  font-family: var(--font-bogle-bold);
  font-size: 1.4rem;
  color: var(--text-dark);
  margin-bottom: .5rem;
}

.personal-info-wrapper .form-check p {
  font-family: var(--font-bogle-regular);
  font-size: 1.2rem;
}
