body {
    line-height: 160%;
    font-family: var(--font-bogle-regular);
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 3rem;
    font-family: var(--font-bogle-bold);
    color: var(--text-primary);
    line-height: 1.1;
}

h2,
h3,
h4,
h5 {
    font-size: 1.8rem;
    margin: 2.5rem 0;
}

span,
small,
div,
a,
p {
    font-size: 1.5rem;
    font-family: var(--font-bogle-regular);
    font-weight: 400;
    color: var(--text-primary);
}
.btn-info:hover{
    color: var(--white);
    background-color: var(--bg-info);
    border-color: var(--bg-info);
}
.btn-danger:hover{
    color: var(--white);
    background-color: var(--bg-danger);
    border-color: var(--bg-danger);
}
.btn-success:hover{
    color: var(--white);
    background-color: var(--bg-success);
    border-color: var(--bg-success);
}
.btn-warning:hover{
    color: var(--black);
    background-color: var(--bg-warning);
}
.btn-primary:hover{
    color: var(--white);
    background-color: var(--bg-primary);
    border-color: var(--bg-primary);
}
.btn-secondary:hover{
    color: var(--white);
    background-color: var(--bg-secondary);
    border-color: var(--bg-secondary);
}
.btn-default:hover{
    color: var(--black);
    background-color: var(--bg-default);
}
.div-padding{
    position: relative;
    padding: 2rem;
}