/* remeber no need for us to @import anything again, as we include the style.css in the doc/ page as well */

/* Scrollbar */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
/* ::-webkit-scrollbar-track {
  background-color: transparentize(var(--scrollbar-bg), 0.7);
}
::-webkit-scrollbar-thumb {
  background: transparentize(var(--scrollbar-bg), 0.5);
  box-shadow: inset 0 0 6px var(--scrollbar-shadow);
  border-radius: 10px;
} */
/* End Scrollbar */

.right-content-page {
  margin-left: 30rem;
  padding-top: 0.1rem;
  height: 100%;
}

section .flex > a {
  flex: 1;
  align-items: center;
}

.section-col-link {
  text-decoration: none;
  transition: all 0.5s;
}

.section-col-link:hover {
  transform: translateY(-5px);
}

.section-col .image {
  border: 1px solid var(--bg-primary);
  margin: 0 auto;
}

.section-col-text {
  font-family: bogle;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--text-primary);
  text-align: center;
  margin-top: 1.8rem;
}

/* essentials */
.shop-essentials .section-col .image {
  border: 1px solid #dbdbff;
}

/* build your cart section */
.build-your-cart .flex {
  align-items: flex-start;
}

.build-your-cart .section-col {
  flex-basis: 20%;
  position: relative;
  height: 32.9rem;
  padding: 2rem;
}

.build-your-cart .section-col .image {
  border: none;
  border-radius: 0;
  width: 16.1rem;
  /* height: 13.1rem; */
}

.build-your-cart .price {
  font-weight: 700;
  font-size: 1.6rem;
  font-family: bogle;
  color: var(--bg-black);
  text-align: left;
}

.build-your-cart .desc {
  font-weight: 400;
  font-size: 1.4rem;
  font-family: bogle;
  color: var(--bg-black);
  text-align: left;
  margin-top: 0.6rem;
}

.cta {
  outline: none;
  display: flex;
  align-items: center;
  padding: 0.6rem 1.6rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  left: 2rem;
}

.add-btn {
  gap: 0.5rem;
  border: 2px solid transparent;
  background: var(--bg-primary);
  color: var(--bg-white);
}

.add-btn svg {
  stroke-width: 2;
  width: 1.4rem;
}

.add-btn:hover {
  border-color: var(--bg-primary);
  background: transparent;
  color: var(--bg-primary);
  transition: all 0.5s;
}

.wishlist {
  position: absolute;
  right: 0.5rem;
  top: 0;
  padding: 0.5rem;
}

.wishlist-icon {
  width: 1.8rem;
  cursor: pointer;
}

/* slider */
.splide__arrow {
  width: 40px;
  height: 40px;
  border: 2px solid #3498db;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.splide__arrow:hover {
  background-color: var(--bg-primary);
}

/* refresh section */
.refresh-section {
}

.refresh-section .section-col {
  flex: 1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  min-height: 33.6rem;
  /* max-width: 33.1rem;
  width: 100%; */
  height: 100%;
  padding-bottom: 5.5rem;
  position: relative;
}

.refresh-section .section-col .image {
  margin: 0.6rem;
  border: none;
  border-radius: inherit;
}

.refresh-section .content {
  margin: 0 2rem 1.2rem;
  font-family: bogle;
  color: var(--bg-black);
}

.refresh-section .section-col-title {
  font-weight: 700;
  font-size: 2.4rem;
}

.refresh-section .content .section-col-desc {
  font-weight: 400;
  font-size: 1.6rem;
}

.shop-btn {
  justify-content: center;
  border: 2px solid var(--text-primary);
  background: transparent;
  color: var(--bg-black);
}

/* .content-page h1,
.content-page h4,
.content-page h5 {
  font-size: 4rem;
} */

/* .content-page h2 {
  font-size: 3rem;
} */

/* .content-page h3 {
  font-size: 2.2rem;
} */

/* End container and navbar */

/* 
  .sidebar 
  Trick here, is to make the overflow-y: auto;
  This will automatically by default allow a scroll on the y-axis
*/
.sidebar {
  position: sticky;
  width: 50%;
  max-height: 650px;
  height: 100%;
  max-width: 25rem;
  background-color: var(--bg-white);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  overflow-y: auto;
  transition: var(--transition-2);
  float: left;
}

.sidebar__menu {
  padding: 1rem;
}

.category__menu-section {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  padding: 0.7rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}

.category__menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  cursor: pointer;
}

.category__menu-section .left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.category__menu-section .left .image {
  border-radius: 50rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d9d9d9;
  overflow: hidden;
}

.category__menu-text {
  font-weight: 700;
  font-size: 1.6rem;
  color: #2e2f32;
  font-family: bogle;
}

.category__menu-section .sub-menu {
  margin: 2rem 0 0;
  display: none;
}

.sub-menu.open {
  display: block;
}

.arrow-icon {
  transition: all 0.5s;
  width: 2rem;
  stroke: #000;
  stroke-width: 1;
}

.arrow-icon.rotate {
  transform: rotate(180deg);
}

.category__menu-section .sub-menu ul {
  margin: 0;
  padding: 0;
}

.sub-menu li {
  margin-top: 0.5rem;
}

.sub-menu ul a {
  text-decoration: none;
  color: #2e2f32;
  font-family: bogle;
  font-weight: 400;
}

/* .sidebar .sidebar__container {
  position: relative;
  background-color: inherit;
  padding: 4rem 2rem 2rem;
  z-index: inherit;
} */
.sidebar.open {
  left: 0;
}
.sidebar .sidebar-feather {
  transition: inherit;
}
.sidebar.open > .sidebar-feather {
  position: fixed;
  background: var(--bg-black);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.1;
}
/* fixed inset-0 bg-black bg-opacity-25 opacity-100 */

/* End sidebar */

/* main content */
