@media(max-width: 768px){
    .navbar-brand{
      margin-bottom: 2rem;
    }
    .navbar .search__bar{
      margin: 0;
    }
    .navbar .search__bar .btn{
      top: .5rem;
    }
    .header_user{
      width: 80%;
      padding: 3rem 0 0;
      margin: 0 auto;
    }
    .header_user span{
      font-size: 1.4rem;
    }
    .header_user .anchor{
      font-size: 1.6rem;
    }
    .header_user-cart-indicator small{
      top: -1rem;
      right: 2.5rem;
    }
    .footer {
      padding: 5rem;
    }
    .footer .footer_left,
    .footer .footer_right{
      text-align: center;
    }
    .footer .footer_right {
      padding: 2rem 0 0;
      justify-content: space-evenly;
    }
}