
@import url("component.css");
@import url("root.css");
@import url("base.css");
@import url("review.css");
@import url("media.css");
@import url("footer.css");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 
 /* login & signin logo */
 
.logo {
  width: 100px;
  height: 100px;
  display: block; 
  margin: 0 auto 20px;  
}

   .d-flex {
  padding-left: 10px;
   }
     /* navbar */

.navbar{
  background-color: #0071DC;      
}

/* nav cart badge */
.badge{
  color: orangered;
  font-size: 1rem;
}

.input:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 165, 0, 0.25);
}

.btn-style {
position: absolute;
top: 5px;
right: 5px; /* Adjust the right position as needed */
outline: none;
border: none;
border-radius: 10px;
background: inherit;
font-size: 20px;
color: #FFC220;
cursor: pointer;
    
}
 
   /* subnav bar */
   
 /* .bg-primary{
  background-color: #004F9A;
 } */
 .icon{
  font-size: small;
 }

 .header-img{
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
}

.image-container img {
  width: 100%;   
}
 .card-header{
  background-color: transparent;
  border: none;
 }
 /* modal */
 .home-modal {    
  top: 50%;
  left: 15%;
  z-index: 1;  
    }

 /* category */
.grid-7{
  display: grid;
  grid-template-columns: repeat(7, 1fr);

 }
 /* products */


 .product-buzz{
  display: grid;
  grid-template-columns: 2fr 1fr;
 }




/* about us sidebar */

.sidebar {
  height: 100%;
  width: 200px;
  position: absolute;
  padding-top: 2rem;
 
  
}

.sidebar button {
  width: 100%;
  padding: 10px;
  text-align: left;
  color: #828DA0;
   padding:2rem;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #004F9A;
  color: #fff;
}

.main-content {
  display: flex;
  margin-left: 200px; /* Set to the width of the sidebar */
  padding: 3rem 10rem 10rem 2rem;
 
}

.content {
  display: none;
  border: 1px solid #CFD2D7;
  padding: 2rem;
 
}

.content.active {
  display: block;
}

/* end of about.html sidebar */

/* product html */
#product-cards{
  display: grid; 
  gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
  
}
#product-cards{
   box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
   width: 100%;
}
 

 #products-pagination{
  display: grid;
 grid-template-columns: 30% 75%; 
 margin-top: 5rem;
 }


.related-search {
     display: grid;
     grid-template-columns: 30% 75%;
    
 }
 


.shop-now{
  background: inherit;
  border: 1px solid black;
}

/* no-section */
.no-section{
  border: 0.1px solid #3C77BC;
  width: 100%;
  margin: auto;
  background: #E8F2FB;
}

 
#products-accordion{
  max-width: 80%;
 }
 .products-accordion-divider{
  display: grid;
  grid-template-columns: 30% 75%;
 }
.products-accordion-grid{
  /* max-width: 100%; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

 
 .product-category-grid{
  display: grid;
  grid-template-columns: 1fr 3fr;
 }
 
 #products-accordion .product-category-grid-item{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 }

 .heart--icon{
  position: absolute;
     top: -3% ; 
    left: -23%;
    border: red;
    background: transparent;
 }
#gallery-carousel h1{
  padding: 0.5rem;
}
 
 /* first slide */
/* .splide__arrows{
    display: none;
} */

 



/* add to cart */


.cards-content {
  border-radius: 10px;
   box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
 
}

/* dorder line */
.footer-border-color{
  border-top: 1px solid #D9D9D9; 
   width: 90%; 
   margin: auto;
    
}

 /* payment Form */
 .form-container{
  padding: 0 2rem;
 }

 .card-input {  
  background: url('/assets/images/icon-svg/card.svg') no-repeat left;
  background-size: contain;
  content: "000 0000 000";
}
 


.payment-form label,
.labels {
  text-transform: uppercase;
  color: btn-default;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.checkout-input {
  outline: none;
  border-radius: 0.5rem;
  border: 0.1rem solid btn-outline-default;
  margin-bottom: 3rem;
  padding-left: 1rem;
  font-size: 1.1rem;
  color: btn-default;
}

/* Hiding arrows on number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


  

.inputs {
  display: flex;
  flex-direction: column;
}

.exp-cvc {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .month-year {
        display: flex;
    }

    .month-error {
        display: flex;
        flex-direction: column;
    }

    .name {
        width: 100%;
        height: 4rem;
    }

    #month,
    #year {
        width: 100%;
        height: 3rem;
    }

    #cvc {
        width: 100%;
        height: 3rem;
    }

 /* payment succesful  table */
 #payment-table tr > td{
  padding: 2rem;
  font-size: 2rem;
 }

 .table-data{
  padding: 1rem;
  font-size: 2rem;
 }
.payment-table-dashed {
    border-bottom-style: dashed;
    border-bottom-width: 100%;
    border-bottom-color: lightgray;
}
.table-cells {
  display: inline-flex;
  text-align: center;
  padding-top: 10rem;
  
 
}

.table-cells::after {
  content: "Your payment transactions was successful!";
  font-size: 2rem;  
  padding: 2rem;  
  color: green;
}

.table-cells::before {
  content: url("/assets/images/icon-svg/check.svg");
  width: 24px;
  height: 24px;
  margin-top: 10px;  
}


 
 
/* End of payment table */


 